/*---------------------------------------
  06. Project Area
----------------------------------------*/

.project {
  // margin-left: -15px;
  // margin-right: -15px;
}
.action__btn a {
  align-items: center;
  background: var(--primary-500) none repeat scroll 0 0;
  width: max-content;
  border-radius: 0.25rem;
  color: var(--white);
  font-weight: 700;
  height: 45px;
  padding: 0 30px;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
  display: flex;
}
.action__btn {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.section__title h2.title__line {
  color: #1f2d30;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}
.section__title p {
  color: #606060;
  margin: 21px auto 20px;
  width: 57%;
}
.project__thumb {
  position: relative;
  z-index: 4;
}
.htc__latest__project__wrap {
  display: flex;
  gap: 1.75rem;
  flex-direction: row;
  align-items: stretch;
}
.project__hover__info {
  background: rgba(252, 194, 54, 0.9) none repeat scroll 0 0;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 0;
  transition: all 0.5s ease 0s;
  width: 100%;
  z-index: 1;
}
.project__action {
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 5;
}
.project__action h2 {
  color: #fefefe;
  font-size: 20px;
  font-weight: 700;
}
.project__hover__info::before {
  border: 1px solid #fff;
  bottom: 50px;
  content: "";
  height: auto;
  left: 45px;
  position: absolute;
  right: 45px;
  top: 50px;
  width: auto;
  z-index: 2;
}

.project__action h4 {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin-top: 17px;
}
.project__action > h2:hover a {
  color: #000;
}
.project__action h2 a {
  transition: all 0.4s ease 0s;
}
.project:hover .project__hover__info,
.project__itm:hover .project__hover__info {
  opacity: 1;
}

.project__thumb a {
  display: block;
}
.project__thumb a img {
  width: 100%;
}
.project__itm {
  margin-top: 30px;
}
.text__pos {
  position: relative;
}
.text__shape {
  left: 120px;
  position: absolute;
  top: 50%;
  z-index: 4;
}
.text__shape h2 {
  color: #f7f7f7;
  font-family: Josefin Sans;
  font-size: 120px;
  font-weight: 700;
  letter-spacing: 15px;
  writing-mode: vertical-rl;
  transform: rotate(180deg) translateY(50%) translateX(0);
}

/* Large screen desktop */
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media (min-width: 1170px) and (max-width: 1500px) {
  .project__hover__info::before {
    bottom: 30px;
    left: 25px;
    right: 25px;
    top: 30px;
  }
  .project__action h2 {
    font-size: 18px;
  }
  .project__action h4 {
    margin-top: 11px;
  }
  .container-fluid .section__title p {
    width: 48%;
  }

  .service--2 .section__title.text-left {
    margin-bottom: 20px;
  }
  .service--2 .container-fluid .section__title p {
    margin-top: 11px;
  }
  .text__shape {
    left: 12px;
  }
  .text__shape h2 {
    font-size: 60px;
    letter-spacing: 5px;
  }
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {
  .container-fluid .section__title p {
    width: 52%;
  }

  .project__hover__info::before {
    bottom: 10px;
    left: 10px;
    right: 10px;
    top: 10px;
  }

  .htc__service__area.service--2 .container-fluid .section__title p {
    width: 100%;
  }

  .h1__project .project__action h2 {
    font-size: 16px;
  }
  .section__title p {
    width: 54%;
  }

  .ptb--150,
  .ptb--130 {
    padding: 80px 0;
  }
  .pt--150 {
    padding-top: 80px;
  }
  .text__shape {
    display: none;
  }
}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .smt-40 {
    margin-top: 40px;
  }

  .container-fluid .section__title p {
    width: 69%;
  }
  .section__title p {
    width: 69%;
  }
  .section__title p {
    width: 69%;
  }

  .project__hover__info::before {
    bottom: 10px;
    left: 10px;
    right: 10px;
    top: 10px;
  }

  .single__project__rightsidebar {
    margin-top: 30px;
  }

  .ptb--150,
  .ptb--130 {
    padding: 80px 0;
  }
  .pt--150 {
    padding-top: 80px;
  }

  .single__project__details p {
    font-size: 13px;
  }
  .text__shape {
    display: none;
  }
}

/* small mobile :320px. */
@media (max-width: 767px) {
  .container {
    width: 300px;
  }
  .text__shape {
    display: none;
  }
  .section__title h2.title__line {
    font-size: 25px;
  }
  .xmt-40 {
    margin-top: 40px;
  }
  .xmt-20 {
    margin-top: 20px;
  }
  .xmt__40 {
    margin-top: -40px !important;
  }
  .prodict-det-small li {
    width: 50%;
  }
  .prodict-det-small {
    flex-flow: row wrap;
  }

  .single__project__rightsidebar,
  .rl__project {
    margin-top: 30px;
  }
  .section__title p {
    margin: 21px auto 10px;
  }
  .single__project__details {
    width: 100%;
  }
  .section__title p,
  .container-fluid .section__title p,
  .service--2 .container-fluid .section__title p {
    width: 100%;
  }
  .project__hover__info::before {
    bottom: 10px;
    left: 10px;
    right: 10px;
    top: 10px;
  }

  .section__title h2.title__line {
    font-size: 25px;
  }

  .htc__bst__construc .section__title h2.title__line {
    font-size: 18px;
  }

  .single__project__details {
    margin: 0;
    margin-top: 30px;
  }

  .h1__project .project__action h2 {
    font-size: 17px;
  }
  .ptb--150,
  .ptb--130 {
    padding: 80px 0;
  }
  .pt--150 {
    padding-top: 80px;
  }
  .project__action h2 {
    font-size: 17px;
  }
  .ptb--120 {
    padding: 50px 0;
  }
  .first-project {
    display: none;
  }
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 90%;
  }
}
