<section class="htc__testimonial__area ptb--130" data--gray__overlay="9.5"
    style="background: rgba(0, 0, 0, 0) url(assets/bg/1.jpg) no-repeat fixed center center / cover ;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6  col-lg-offset-1 col-sm-12 col-xs-12 smt-40">
                <div class="reguest__quote">
                    <div class="section__title text-left">
                        <h2 class="title__line">REQUEST A <span class="text--theme">QUOTE</span></h2>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so
                            beguiled and demoralized by the charms of pleasur</p>
                    </div>
                    <form id="contact-form"
                        action="https://d29u17ylf1ylz9.cloudfront.net/simply-construction/mail-faq.php" method="post">
                        <div class="clint__comment__form">
                            <div class="single__cl__form">
                                <input name="name" type="text" placeholder="Name">
                                <input name="email" type="email" placeholder="Email">
                            </div>
                            <div class="single__cl__form">
                                <input name="telephone" type="tel" placeholder="Phone">
                                <input name="subject" type="text" placeholder="Subject">
                            </div>
                            <div class="single__cl__message">
                                <textarea name="message" placeholder="Massage"></textarea>
                            </div>
                            <div class="clint__submit__btn">
                                <button class="submit htc__btn" type="submit">
                                    SEND MESSAGE
                                </button>
                            </div>
                        </div>
                    </form>
                    <p class="form-messege"></p>
                </div>
            </div>
        </div>
    </div>
</section>