<section class="htc__testimonial__area ptb--130" data--gray__overlay="9.5"
    style="background: rgba(0, 0, 0, 0) url(assets/bg/1.jpg) no-repeat fixed center center / cover;">
    <div class="container">
        <div class="reguest__quote">
            <!-- Section Title -->
            <div class="section__title text-left">
                <h2 class="title__line">REQUEST A <span class="text--theme">CONSTRUCTION QUOTE</span></h2>
                <p>Our team of skilled professionals is here to help bring your vision to life. Contact us for a
                    detailed, no-obligation estimate tailored to your specific construction needs.</p>
            </div>

            <!-- Form -->
            <form id="contact-form">
                <div class="clint__comment__form">
                    <div class="single__cl__form">
                        <input name="name" type="text" placeholder="Name">
                        <input name="email" type="email" placeholder="Email">
                    </div>
                    <div class="single__cl__form">
                        <input name="telephone" type="tel" placeholder="Phone">
                        <input name="subject" type="text" placeholder="Subject">
                    </div>
                    <div class="single__cl__message">
                        <textarea name="message" placeholder="Message"></textarea>
                    </div>
                    <div class="clint__submit__btn">
                        <div class="action__btn">
                            <a href="#">Send message</a>
                        </div>
                    </div>
                </div>
            </form>
            <p class="form-messege"></p>
        </div>
    </div>
</section>