<section class="htc__counterup__area count--2 h1__countdown bg__gray">
    <div class="container-fluid">
        <div class="row">

            <div class="contact-form-wrap section__title">
                <!-- Call to Action Section -->
                <div class="title__line">
                    <h2># BEST <span class="text--theme">CONSTRUCTION</span> Company</h2>
                    <p>{{ companyDescription }}</p>
                    <div class="action__btn">
                        <a href="#">Contact us</a>
                    </div>
                </div>

                <!-- Counters Section -->
                <div class="htc__counterup__wrap"
                    style="background: rgba(0, 0, 0, 0) url(assets/bg/10.png) no-repeat scroll center center / cover;">
                    <!-- Loop through counters -->
                    <div *ngFor="let counter of counters" class="funfact col-md-3 col-sm-6 col-xs-12">
                        <div class="fact__details">
                            <div class="funfact__count__inner">
                                <div class="fact__count">
                                    <span class="count">{{ counter.count }}</span>
                                </div>
                            </div>
                            <div class="fact__title">
                                <h2>{{ counter.title }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>