<h3 nz-typography>Contact Messages</h3>
<nz-table #basicTable [nzBordered]="true" [nzData]="dataSet" [nzSize]="'middle'">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Subject</th>
      <th>Message</th>
      <th>Phone</th>
      <th>Created At</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contact of dataSet">
      <td>{{ contact?.name }}</td>
      <td>{{ contact?.email }}</td>
      <td>{{ contact?.subject }}</td>
      <td>{{ contact?.message }}</td>
      <td>{{ contact?.phone }}</td>
      <td>{{ contact?.createdAt | date }}</td>
      <td>
        <a (click)="onView(contact)">View</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="onDelete(contact)">Delete</a>
      </td>
    </tr>
  </tbody>
</nz-table>