<section class="htc__team__area bg__white h1__team--one ptb--150 text__pos">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section__title text-center">
                    <h2 class="title__line">OUR <span class="text--theme">TEAM</span></h2>
                    <p>On the other hand, we denounce with righteous indignation and dislike men who are so
                        beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="htc__team__wrap clearfix mt--30">
                <!-- Start Single Team -->
                <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                    <div class="team foo">
                        <div class="team__inner">
                            <div class="team__thumb">
                                <img src="assets/team/1.jpg" alt="team image">
                            </div>
                            <div class="team__hover__info">
                                <ul class="team__social__link">
                                    <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>

                                    <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>

                                    <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>

                                    <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="team__details">
                            <h2><a href="#">STAWART SMITH</a></h2>
                            <h4>Chief Engineer</h4>
                        </div>
                    </div>
                </div>
                <!-- End Single Team -->
                <!-- Start Single Team -->
                <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                    <div class="team foo">
                        <div class="team__inner">
                            <div class="team__thumb">
                                <img src="assets/team/2.jpg" alt="team image">
                            </div>
                            <div class="team__hover__info">
                                <ul class="team__social__link">
                                    <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>

                                    <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>

                                    <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>

                                    <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="team__details">
                            <h2><a href="#">KALVIN MOMEN</a></h2>
                            <h4>KALVIN MOMEN</h4>
                        </div>
                    </div>
                </div>
                <!-- End Single Team -->
                <!-- Start Single Team -->
                <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                    <div class="team foo">
                        <div class="team__inner">
                            <div class="team__thumb">
                                <img src="assets/team/3.jpg" alt="team image">
                            </div>
                            <div class="team__hover__info">
                                <ul class="team__social__link">
                                    <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>

                                    <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>

                                    <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>

                                    <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="team__details">
                            <h2><a href="#">ANDREW SIMONS</a></h2>
                            <h4>Chief Electicians</h4>
                        </div>
                    </div>
                </div>
                <!-- End Single Team -->
                <!-- Start Single Team -->
                <div class="col-md-3 col-lg-3 hidden-sm col-xs-12">
                    <div class="team foo">
                        <div class="team__inner">
                            <div class="team__thumb">
                                <img src="assets/team/4.jpg" alt="team image">
                            </div>
                            <div class="team__hover__info">
                                <ul class="team__social__link">
                                    <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>

                                    <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>

                                    <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>

                                    <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="team__details">
                            <h2><a href="#">MARK TAYLOR</a></h2>
                            <h4>Chief Engineer</h4>
                        </div>
                    </div>
                </div>
                <!-- End Single Team -->
            </div>
        </div>
    </div>
    <div class="text__shape">
        <h2>TEAM</h2>
    </div>
</section>