.htc__footer__wrap {
  position: relative;
  z-index: 2;
}

.copyright {
  padding: 0;
  text-align: center;
}
.copyright__inner p {
  color: #1f2d30;
  font-size: 12px;
  font-weight: 500;
}
.copyright__inner p a {
  color: #1f2d30;
  padding: 0 3px;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
}
.copyright__inner p a:hover {
  color: #fff;
}
.footer.quick__link {
  left: 67px;
  position: relative;
}

/* Basic Styles */
footer {
  background-color: #111; /* Background color */
  color: #fff; /* Text color */
}

footer h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--primary-500);
}

footer .ft__details p,
footer .ft__menu li {
  font-size: 14px;
  margin-bottom: 10px;
  color: #fff;
}

footer .ft__menu li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer .ft__menu li a:hover {
  color: #f1c40f; /* Highlight color on hover */
}

footer .ft__details a {
  color: #fff;
  text-decoration: none;
}

footer .footer__top {
  background-size: cover;
  background-position: center;
}

/* Container and Grid Layout */
footer .container {
  max-width: 1200px;
  margin: 0 auto;
}

footer .htc__footer__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .footer {
  padding: 20px;
  flex: 1;
}

footer .footer__widget {
  margin-bottom: 15px;
}

/* Responsive Design */
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media (max-width: 1199px) {
  footer .htc__footer__wrap {
    // flex-direction: column;
  }

  footer .footer {
    margin-bottom: 30px;
  }
}

@media (max-width: 991px) {
  footer .footer__top {
    padding-top: 80px;
    padding-bottom: 50px;
  }

  footer .footer__widget {
    text-align: center;
  }

  footer .footer .ft__details p {
    font-size: 16px;
  }

  footer .ft__menu li {
    text-align: center;
  }

  footer .ft__menu li a {
    display: inline-block;
    margin: 10px 0;
  }
}

@media (max-width: 767px) {
  footer .footer {
    padding: 15px;
  }

  footer .ft__details p {
    font-size: 14px;
  }

  footer .footer__widget {
    margin-bottom: 20px;
  }

  footer .ft__menu li a {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  footer .footer__top {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  footer h2 {
    font-size: 16px;
  }

  footer .footer__details p {
    font-size: 12px;
  }

  footer .ft__menu li a {
    font-size: 12px;
  }

  footer .copyright {
    text-align: center;
  }
}
