<div class="htc__latest__project__area pb--150 ptb--120 bg__white">
    <div class="container">
        <div class="htc__latest__project__wrap h1__project ">
            <ng-container *ngFor="let project of projects; let i = index">
                <!-- Single Project -->
                <div *ngIf="i < projects.length">
                    <div class="project__itm foo">
                        <div class="project__thumb">
                            <a [href]="project.link">
                                <img [src]="project.imageUrl" [alt]="project.title" />
                            </a>
                            <div class="project__hover__info">
                                <div class="project__action">
                                    <h2><a [href]="project.link">{{ project.title }}</a></h2>
                                    <h4>DURATION : {{ project.duration }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>