<section class="htc__service__area bg__gray ptb--100">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section__title text-center">
                    <h2 class="title__line">
                        OUR <span class="text--theme">SERVICES</span>
                    </h2>
                    <p>
                        On the other hand, we denounce with righteous indignation and dislike men who are so beguiled
                        and demoralized by the charms of pleasure of the moment, so blinded by desire
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="service__section__wrap mt--60">
                <!-- Loop through services -->
                <div *ngFor="let service of services">
                    <div class="service foo">
                        <div class="service__thumb">
                            <a>
                                <img [src]="service.image" alt="service images" />
                            </a>
                            <!-- <div class="service__hover">
                                <div class="service__action">
                                    <a>DETAILS</a>
                                </div>
                            </div> -->
                        </div>
                        <div class="service__details">
                            <h2>
                                <a>{{ service.title }}</a>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>